[submodule ".vim/bundle/theme/jellybeans"]
	path = .vim/bundle/theme/jellybeans
	url = https://github.com/nanotech/jellybeans.vim
[submodule ".vim/bundle/core/ack"]
	path = .vim/bundle/core/ack
	url = https://github.com/mileszs/ack.vim
[submodule ".vim/bundle/core/ctrlp"]
	path = .vim/bundle/core/ctrlp
	url = https://github.com/kien/ctrlp.vim
[submodule ".vim/bundle/core/fugitive"]
	path = .vim/bundle/core/fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule ".vim/bundle/core/nerdtree"]
	path = .vim/bundle/core/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule ".vim/bundle/core/pathogen"]
	path = .vim/bundle/core/pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule ".vim/bundle/theme/solarized"]
	path = .vim/bundle/theme/solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule ".vim/bundle/theme/zoomwin"]
	path = .vim/bundle/theme/zoomwin
	url = https://github.com/vim-scripts/ZoomWin
[submodule ".vim/bundle/core/gitv"]
	path = .vim/bundle/core/gitv
	url = https://github.com/gregsexton/gitv
[submodule ".vim/bundle/core/surround"]
	path = .vim/bundle/core/surround
	url = https://github.com/tpope/vim-surround
[submodule ".vim/bundle/tools/endwise"]
	path = .vim/bundle/tools/endwise
	url = https://github.com/tpope/vim-endwise
[submodule ".vim/bundle/tools/tagbar"]
	path = .vim/bundle/tools/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule ".vim/bundle/tools/gist"]
	path = .vim/bundle/tools/gist
	url = https://github.com/mattn/gist-vim
[submodule ".vim/bundle/tools/rails"]
	path = .vim/bundle/tools/rails
	url = https://github.com/tpope/vim-rails
[submodule ".vim/bundle/tools/syntastic"]
	path = .vim/bundle/tools/syntastic
	url = https://github.com/scrooloose/syntastic
[submodule ".vim/bundle/core/nerdtree-tabs"]
	path = .vim/bundle/core/nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs
[submodule ".vim/bundle/tools/vimclojure"]
	path = .vim/bundle/tools/vimclojure
	url = https://github.com/vim-scripts/VimClojure
[submodule ".vim/bundle/tools/webapi-vim"]
	path = .vim/bundle/tools/webapi-vim
	url = https://github.com/mattn/webapi-vim
[submodule ".vim/bundle/tools/vim-rspec"]
	path = .vim/bundle/tools/vim-rspec
	url = https://github.com/thoughtbot/vim-rspec
[submodule ".vim/bundle/tools/Floobits"]
	path = .vim/bundle/tools/Floobits
	url = https://github.com/Floobits/vim-plugin
[submodule ".vim/bundle/theme/github"]
	path = .vim/bundle/theme/github
	url = https://github.com/endel/vim-github-colorscheme
[submodule ".vim/bundle/theme/kolor"]
	path = .vim/bundle/theme/kolor
	url = https://github.com/zeis/vim-kolor
[submodule ".vim/bundle/theme/badwolf"]
	path = .vim/bundle/theme/badwolf
	url = https://github.com/sjl/badwolf/
[submodule ".vim/bundle/theme/molokai"]
	path = .vim/bundle/theme/molokai
	url = https://github.com/tomasr/molokai
[submodule ".vim/bundle/tools/vim-conque"]
	path = .vim/bundle/tools/vim-conque
	url = https://github.com/basepi/vim-conque
[submodule ".vim/bundle/tools/vim-ruby-conque"]
	path = .vim/bundle/tools/vim-ruby-conque
	url = https://github.com/skwp/vim-ruby-conque
[submodule ".vim/bundle/tools/neocomplcache"]
	path = .vim/bundle/tools/neocomplcache
	url = https://github.com/Shougo/neocomplcache.vim
[submodule ".vim/bundle/scripts/autotag"]
	path = .vim/bundle/scripts/autotag
	url = https://github.com/vim-scripts/AutoTag
[submodule ".vim/bundle/tools/abolish"]
	path = .vim/bundle/tools/abolish
	url = https://github.com/tpope/vim-abolish
[submodule ".vim/bundle/tools/vim-haml"]
	path = .vim/bundle/tools/vim-haml
	url = https://github.com/tpope/vim-haml
